@page "/"
@rendermode InteractiveServer

<PageTitle>NoodleBar</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap=20>
    <FluentLabel Typo="Typography.H1">Welcome!</FluentLabel>

    <p>Welcome to the NoodleBar.</p>
</FluentStack>
