@page "/or/organizations"
@rendermode InteractiveServer

<PageTitle>Organization Registry</PageTitle>

@switch (Config?["ORTemplate"]?.ToLower())
{
    case "poort8":
        <ORPoort8Template Organizations=_organizations CreateOrganizationCallback=CreateOrganization UpdateOrganizationCallback=UpdateOrganization DeleteOrganizationCallback=DeleteOrganization></ORPoort8Template>
        break;
    case "ishare":
        <ORiShareTemplate Organizations=_organizations></ORiShareTemplate>
        break;
    default:
        <div>Unknown ORTemplate configuration: @(Config?["ORTemplate"] ?? "NULL")</div>
        break;
}